.border-1 {
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: black;*/

    /*border: 1px solid red;*/
    border-style: dashed;
    border-radius: 10px;
}

/* bottom, top, right, left */
.border-2 {
    border-bottom: 2px solid darkblue;
    border-right: 6px solid green;
    border-bottom-right-radius: 10px;
}

.border-3 {
    border-left: 5px solid purple;
    background: plum;
    padding-left: 8px;
    color: white;

}